header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(128, 0, 0);
  height: 50px;
  padding-inline: 20px;
  padding-block: 10px;
}

header h1 {
  color: white;
  font-size: 24px;
}

header p {
  color: white;
  font-size: 18px;
}

header div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
